body {
	background-color: #FFFFF9;
	font-family: 'latoregular';
}

.style-off {
	text-decoration: none;
	color: inherit;
}

.background {
	background-image: url("sw_4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	max-width: 40rem;
	height: 140vh;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 4vh solid #000000;
}

.name {
	font-family: 'latobold';
	padding-top: 40vh;
	color: #F2D29D;
	font-size: 3rem;
	text-align: center;
	text-shadow: 4px 0 0 #000, 0 -4px 0 #000, 0 4px 0 #000, -4px 0 0 #000;
}

#readprev {
	margin-top: 20vh;
}

.content {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

.post {
	padding-left: calc(10px + (50 - 15) * ((100vw - 300px) / (1600 - 300)));
	padding-right: calc(10px + (50 - 15) * ((100vw - 300px) / (1600 - 300)));
	color: #5E5E5E;
}



.body {
	font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: 2em;
}

.post h1 {
	font-family: 'latobold';
	font-size: calc(25px + (35 - 25) * ((100vw - 300px) / (1600 - 300)));
	line-height: 1.5em;
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.post p {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.read {
	font-family: 'latoblack';
	border: 0.5vh solid #000;
	font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: 2em;
	padding: 1vh;
	text-align: center;
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.read:hover {
	background-color: #F2D29D;
	cursor: pointer;
}

.footer {
	max-width: 40rem;
	border-bottom: 4vh solid #000000;
	background-image: url("sw_4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	padding-top: 3rem;
	padding-bottom: 1rem;
	font-family: 'latobold';
	height: 40vh;
	color: #F2D29D;
	font-size: 2rem;
	text-align: center;
	text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
	margin-left: auto;
	margin-right: auto;
}